/* PC尺寸 */

.footer{
    background-color: $color-red;

    .wrap{
        max-width: 1100px;
        padding: 48px 5% 40px 5%;
        position: relative;
        margin: 0 auto;

        .top_section{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;

            .left_menu{
                max-width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li{
                    .link{
                        font-size: 16px;
                        line-height: 24px;
                        color: $color-white;
                        padding: 10px;
                        text-decoration: none;
                    }
                }
            }

            .right_social{
                width: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .middle_section{
            margin-bottom: 24px;

            .contact{
                margin-bottom: 20px;

                .info{
                    font-size: 36px;
                    line-height: 54px;
                    color: $color-white;
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    .icon_phone{
                        display: inline-block;
                        width: 44px;
                        height: 44px;
                        margin-right: 17px;
                    }

                    .icon_email{
                        display: inline-block;
                        width: 48px;
                        height: 48px;
                        margin-right: 12px;
                    }
                }
            }
        }

        .bottom_section{
            color: $color-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .left_info{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;

                .logo{
                    height: 100%;
                    margin-right: 38px;
                }

                .copyright{
                    color: $color-white;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .right_service{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                width: 20%;

                .private,.service{
                    text-decoration: none;
                    color: $color-white;
                    font-size: 14px;
                    line-height: 21px;
                    padding: 10px;
                }
            }
        }

    }
}


/* 平板尺寸 */
@media (max-width: 768px){
    .footer{
        .wrap{
            .top_section{
                .left_menu{
                    font-size: 16px;
                }

                .right_social{
                    .social_icon{
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .middle{
                .contact{
                    .info{
                        font-size: 20px;
                        .icon_phone{
                            width: 24px;
                            height: 24px;
                        }
                        .icon_email{
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }

            .bottom_seciton{
                align-items: flex-start;
                .left_info{
                    .logo{
                        display: none;
                    }

                    .copyright{
                        font-size: 16px;
                    }
                }

                .right_service{
                    width: 25%;
                }
            }
        }
    }
}

/* 手機尺寸 */
@media (max-width: 414px){
    .footer{
        .wrap{
            padding: 24px 15px;

            .top_seciton{
                float: right;

                .left_menu{
                    display: none;
                }

                .right_social{
                    .social_icon{
                        margin-left: 24px;
                    }
                }
            }

            .middle_section{
                .contact{
                    margin-bottom: 8px;
                    .info{
                        line-height: 21px;
                        font-size: 16px;
                        

                        .icon_phone{
                            width: 20px;
                            height: 20px;
                        }
                        .icon_email{
                            width: 20px;
                            height: 20px;
                        }
                    }

                    &:nth-child(2){
                        margin-bottom: 24px;
                    }
                }
            }

            .bottom_section{
                position: relative;
                flex-wrap: wrap;
                
                .left_info{
                    margin-bottom: 8px;
                    
                    .logo{
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        margin-right: 0;
                        height: auto;
                        width: 12%;
                    }

                    .copyright{
                        font-size: 14px;
                    }
                }

                .right_service{
                    flex-wrap: wrap;

                    .private{
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}